<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edicion de usuario</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="users/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="users/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="users/assets/css/form-elements.css">
        <link rel="stylesheet" href="users/assets/css/style.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="users/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="users/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="users/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="users/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>     
        <div class="container">
            <div class="row">
                <div class="col-sm-5 form-box" style="margin: 0 auto;">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Edición de usuario</h3>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="registration-form" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="old-email" class="form-first-name form-control" value="{email}">
                            </div>
                            <div class="form-group">
                                <label for="email" class="white-font">e-mail</label>
                                <input type="text" name="email" class="form-first-name form-control" value="{email}">
                            </div>
                            <div class="form-group" class="white-font">
                                <label for="name" class="white-font">Nombre</label>
                                <input type="text" name="name" class="form-last-name form-control" value="{name}">
                            </div>
                            <div class="form-group">
                                <label for="password" class="white-font">Avatar</label>
                                <input type="file" name="avatar" class="form-last-name form-control">
                            </div>
                            <div class="form-group">
                                <label for="biography" class="white-font">Biografía</label>
                                <textarea  name="biography" class="form-last-name form-control">{biography}</textarea>
                            </div>
                            <button type="submit" class="btn">Aceptar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="users/assets/js/jquery-1.11.1.min.js"></script>
        <script src="users/assets/js/jquery.backstretch.min.js"></script>
        <script src="users/assets/js/scripts.js"></script>
    </body>
</html>
