<div id="slider">
    <div class="viewer">
        <ul class="reel">
            <li class="slide">
                <h2>This is the first slide.</h2>
                <p>Lorem ipsum dolor sit amet nullam.</p>
                <a class="link" href="http://nodethirtythree.com/#slidertron-slide-1">Full story ...</a>
                <img src="artist/images/pic01.jpg" width="1180" height="260" alt="" />
            </li>
            <li class="slide">
                <h2>This is the second slide.</h2>
                <p>Lorem ipsum dolor sit amet nullam.</p>
                <a class="link" href="http://nodethirtythree.com/#slidertron-slide-2">Full story ...</a>
                <img src="artist/images/pic01.jpg" width="1180" height="260" alt="" />
            </li>
            <li class="slide">
                <h2>This is the third slide.</h2>
                <p>Lorem ipsum dolor sit amet nullam.</p>
                <a class="link" href="http://nodethirtythree.com/#slidertron-slide-3">Full story ...</a>
                <img src="artist/images/pic01.jpg" width="1180" height="260" alt="" />
            </li>

        </ul>
    </div>

    <ul class="indicator">
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
    </ul>

</div>

<script type="text/javascript">
    $('#slider').slidertron({
        viewerSelector: '.viewer',
        reelSelector: '.viewer .reel',
        slidesSelector: '.viewer .reel .slide',
        advanceDelay: 3000,
        speed: 'slow',
        navPreviousSelector: '.previous-button',
        navNextSelector: '.next-button',
        indicatorSelector: '.indicator li',
        slideLinkSelector: '.link'
    });
</script>

<!-- ****************************************************************************************************************** -->			


<div id="main">

    <ul class="gallery">

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>

        <li>
            <h3>consequat pharetra</h3>
            <a href="modeiles/artist/images/pic02full.jpg"><img class="top" src="artist/images/pic02full.jpg" width="260" height="200" title="This is photo 1" alt="" /></a>
        </li>					

    </ul>

    <br class="clear" />

</div>
